aiohttp==3.9.0b0
aiosignal==1.3.1
annotated-types==0.6.0
anyio==3.7.1
attrs==23.1.0
bidict==0.22.1
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
fastapi==0.103.2
fastapi-socketio==0.0.10
frozenlist==1.4.0
h11==0.14.0
idna==3.4
multidict==6.0.4
openai==0.28.1
pydantic==2.4.2
pydantic_core==2.10.1
python-dotenv==1.0.0
python-engineio==4.8.0
python-socketio==5.10.0
requests==2.31.0
setuptools==68.2.2
simple-websocket==1.0.0
sniffio==1.3.0
starlette==0.27.0
tqdm==4.66.1
typing_extensions==4.8.0
urllib3==2.0.7
uvicorn==0.23.2
wsproto==1.2.0
yarl==1.9.2
